@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Lalezar&display=swap");

body {
  font-family: "Lalezar", cursive;
}

.nav-item {
  cursor: pointer;
}

.App {
  background-color: #132737;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
